<footer class="small">
  <span class="copyright">
    <script language="JavaScript">
      document.write('&copy; 2020 - ');
      document.write(new Date().getFullYear());
      document.write(' Drake Taylor. All rights reserved.');
    </script>
  </span>

  <span class="icon">
  </span>

  <nav>
    
  </nav>
</footer>
