<meta charset="utf-8">
<title><%-title-%></title>
<link rel="stylesheet" href="/css/master.css">
<link rel="stylesheet" href="/css/syntax.css">
<script src="/js/highlight.pack.js" charset="utf-8"></script>
<script src="/js/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript">
  hljs.configure({
    tabReplace: "  "
  });
  hljs.initHighlightingOnLoad();
</script>
